<li class="main__card">
    <img class="main__img" src="{{image}}" alt="{{alt}}">
    <h2 class="main__title">{{name}}</h2>
    <p class="main__date">{{date}}</p>
    <div class="main__locations">
        <i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>
        <p class="main__location">{{location}}</p>
    </div>
</li>